
<section class="row mb-5">
        <div class="col ">
            <%= search_form_for q, class:"form row align-items-end", url: :admin_books do |f| %>
                <div class="form-group col">
                    <%= f.label :title, 'Search by title'%>
                    <%= f.text_field :title_cont, class:"form-control", placeholder:"Title..."%>
                </div>
                <div class="actions col">
                    <%= f.submit class:'btn btn-outline-primary'%>
                </div>
            <% end %>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <%= search_form_for q, class:"form", url: :admin_books do |f| %>
                <div class="form-group">
                <%= sort_link(q, :date_of_publication, default_order: :desc, class:"text-decoration-none text-dark") do %>
                    <strong class="text-decoration-none">Order by date</strong>
                <% end %>
                </div>
            <% end %>
        </div>
</section>