<% if book.new_record? %>
  <% form_url = admin_books_path %>
<% else %>
  <% form_url = admin_book_path(book) %>
<% end %>

<%= form_with(model: book, url: form_url, turbo_method: book.new_record? ? :post : :patch, local: true, class:"w-100") do |form| %>
  <%= render 'error_messages', book: book %>

  <div class="field form-group my-3">
    <%= form.label :title, 'Title', class:"pb-2" %>
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>

  <div class="field form-group my-3">
    <%= form.label :author_id, 'Author', class:"pb-2" %>
    <%= form.collection_select :author_id, @authors, :first, :second, {}, class: "form-control" %>
  </div>

  <div class="field form-group my-3">
    <%= form.label :date_of_publication, 'Date of publication', class:"pb-2" %>
    <%= form.date_field :date_of_publication, class:"form-control" %>
  </div>

  <div class="field form-group my-3">
    <%= form.label :isbn, 'ISBN-10', class:"pb-2" %>
    <%= form.text_field :isbn, class:"form-control", placeholder:"ISBN-10" %>
  </div>

  <div class="field form-group my-3">
    <%= form.label :publisher_id, 'Publisher', class:"pb-2" %>
    <%= form.collection_select :publisher_id, @publishers, :first, :second, {}, class: "form-control" %>
  </div>

  <div class="field form-group my-3">
    <%= form.label :review, 'Review', class:"pb-2" %>
    <%= form.text_area :review, class: "form-control", placeholder: "Review" %>
  </div>

  <div class="field form-group my-3">
    <%= form.label :price, 'Price', class:"pb-2" %>
    <%= form.number_field :price, class: "form-control", placeholder: "Price" %>
  </div>

  <br/>
  <div class="actions my-3">
    <%= form.submit class:'btn btn-outline-primary' %>
  </div>
<% end %>