<% if author.new_record? %>
  <% form_url = admin_authors_path %>
<% else %>
  <% form_url = admin_author_path(author) %>
<% end %>

<%= form_with(model: author, url: form_url, turbo_method: author.new_record? ? :post : :patch, local: true) do |form| %>

  <%= render 'error_messages', author: author %>

  <div class="field form-group my-3">
      <%= form.label :firstname, 'First name', class:"pb-2" %>
      <%= form.text_field :firstname, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="field form-group my-3">
      <%= form.label :lastname, 'Last name', class:"pb-2" %>
      <%= form.text_field :lastname, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="field form-group my-3">
      <%= form.label :date_of_birth, 'Date of birth', class:"pb-2" %>
      <%= form.date_field :date_of_birth, class:"form-control" %>
  </div>

  <div class="field form-group my-3">
      <%= form.label :about, 'About', class:"pb-2" %>
      <%= form.text_field :about, class:"form-control", placeholder:"author's description..." %>
  </div>

  <div class="field form-group my-3">
      <%= form.label :nationality, 'Nationality', class:"pb-2" %>
      <%= form.text_field :nationality, class:"form-control", placeholder:"Argentina" %>
  </div>
<br/>
  <div class="actions my-3">
    <%= form.submit class:'btn btn-outline-primary' %>
  </div>
<% end %>