<%= form_with(model: author, url: admin_authors_path, local: true) do |form| %>
    <% if author.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(authors.errors.count, "error") %> somethng went wrong!</h2>
  
        <ul>
          <% author.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field form-group">
        <% form.label :firstname %>
        <%= form.text_field :firstname, class:"form-control", placeholder:"First Name" %>
    </div>
  
    <div class="field form-group">
        <% form.label :lastname %>
        <%= form.text_field :lastname, class:"form-control", placeholder:"Last Name" %>
    </div>
  
    <div class="field form-group">
        <% form.label :date_of_birth %>
        <%= form.date_field :date_of_birth, class:"form-control" %>
    </div>
  
    <div class="field form-group">
        <% form.label :about %>
        <%= form.text_field :about, class:"form-control", placeholder:"author's description..." %>
    </div>
  
    <div class="field form-group">
        <% form.label :nationality %>
        <%= form.text_field :nationality, class:"form-control", placeholder:"Argentina" %>
    </div>
  <br/>
    <div class="actions">
      <%= form.submit class:'btn btn-secondary' %>
    </div>
  <% end %>