<div class="jumbotron">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <h1 class="display-4">
        <%= @author.firstname %>
        <%= @author.lastname %>
    </h1>
    <p class="lead">
        <%= @author.date_of_birth %>  | 
        <%= @author.about %>  |  
        <%= @author.nationality %>
    </p>
    <br/>

    <%= link_to 'Edit', edit_admin_author_path(@author), class:"btn btn-secondary" %>

    <%= link_to 'Delete', @author, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    
    <%= link_to 'Back', admin_authors_path, class:"btn btn-dark" %>

</div>